[sssd]
debug_level=9
config_file_version=2
domains=AD
services=nss, pam

[nss]
debug_level=9

[pam]
debug_level=9

[domain/AD]
debug_level=9
enumerate = false
id_provider=ldap
auth_provider=ldap

ldap_schema = rfc2307bis
cache_credentials = true
case_sensitive = false
ldap_id_mapping = true

ldap_uri = ldap://dns.takaws.com:389
ldap_tls_reqcert = allow
ldap_tls_cacertdir = /etc/openldap/cacerts
ldap_search_base = ou=Users and Groups,dc=onetakeda,dc=com
ldap_default_bind_dn = CN=svc-jupyter_aws_emr,OU=Service Accounts,OU=Global Admin Resources,DC=onetakeda,DC=com
ldap_default_authtok = K=zV[u4{TE
ldap_id_use_start_tls = true

ldap_user_object_class = user
ldap_user_name = sAMAccountName
ldap_group_object_class = group
ldap_group_name = cn

ldap_user_objectsid = objectSid
ldap_group_objectsid = objectSid
#ldap_idmap_range_size = 1048576
ldap_user_primary_group = primaryGroupID
override_homedir = /sc/home/%u
default_shell = /bin/bash
override_shell = /bin/bash
